@import "../../global.scss";

.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  h1 {
    color: $primary;
    margin: 0;
    font-size: 7rem;
    font-weight: 700;
    font-family: sans-serif;
    font-family: monospace;
    text-shadow: -5px 3px 3px #c7c0c0;
  }
  p {
    color: inherit;
    font-weight: 400;
    letter-spacing: 1.2px;
  }
}
