@import "../../global.scss";

.cart {
  margin-left: 3em;
  padding-bottom: 5em;

  .cart-title {
    font-weight: 700;
    font-size: 2rem;
    margin-top: 80px;
    margin-bottom: 59px;
    text-transform: uppercase;
  }
  .total {
    border-top: 1px solid #e5e5e5;

    p {
      font-family: Roboto;
      font-weight: 400;
      font-size: 32px;
      display: inline-block;
      &:last-of-type {
        font-weight: 700;
        float: right;
      }
    }
  }
  .checkout-btn {
    text-transform: uppercase;
    margin: 0 auto;
    font-size: 18px;
    padding: 0.85em 1.2em;
    margin-right: 5px;
    border: 1px solid $black;
    background-color: $primary;
    color: white;
    border: none;
  }
}
