@import '../../global.scss';

.cart {
  margin-left: 3em;
  padding-bottom: 5em;

  .cart-title {
    font-weight: 700;
    font-size: 2rem;
    margin-top: 80px;
    margin-bottom: 59px;
    text-transform: uppercase;
  }
  .cartItem {
    display: flex;
    border-top: 1px solid #e5e5e5;
    padding: 1em 0;
    img {
      width: 141px;
      height: 185px;
      object-fit: contain;
    }
    button {
      min-width: 45px;
      height: 45px;
      border: 1px solid $black;
      background-color: #ffffff;
    }
    .info {
      display: flex;
      flex-direction: column;
      padding-right: 0.7em;

      p {
        margin: 0 0 0.3em 0;
        font-weight: 600;
        font-size: 30px;
        &:last-of-type {
          margin-bottom: 0.85em;
          font-weight: 400;
        }
      }
      span {
        margin-top: auto;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
      }
      .attributes {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        flex-direction: column;
        button {
          margin: 0.2em;
          width: 63px;
          height: 45px;
          border: 1px solid #1d1f22;
          font-family: "Source Sans Pro";
          font-weight: 400;
          font-size: 16px;

          &.active {
            background: #1d1f22;
            color: white;
          }
        }
      }
    }
    .actions {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-left: auto;
      margin-right: 0.6em;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
      }
      span {
        font-weight: 500;
        font-size: 24px;
      }
    }
  }
  .total {
    border-top: 1px solid #e5e5e5;

    p {
      font-family: Roboto;
      font-weight: 400;
      font-size: 32px;
      display: inline-block;
      &:last-of-type {
        font-weight: 700;
        float: right;
      }
    }
  }
  .checkout-btn {
    text-transform: uppercase;
    margin: 0 auto;
    font-size: 18px;
    padding: .85em 1.2em;
    margin-right: 5px;
    border: 1px solid $black;
    background-color: $primary;
    color: white;
    border: none;
  }
}
