/* Style scrollbar */
body::-webkit-scrollbar {
  width: .5em;
  
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(122, 120, 120, 0.3);
  box-shadow: inset 0 0 6px rgba(120, 122, 120, 0.3);
}

body::-webkit-scrollbar-thumb {
background-color: #1D1F22;
outline: none;
}

main {
  position: relative;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 5em;
  padding: 0 80px;
}
button {
  cursor: pointer;
  transition: all .3s ease;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

